[submodule "submodules/cameraview"]
	path = submodules/cameraview
	url = https://github.com/google/cameraview.git
[submodule "submodules/material-camera"]
	path = submodules/material-camera
	url = https://github.com/afollestad/material-camera.git
