<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.qiaoqiao">


    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="@string/map"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map"/>

        <activity
            android:name=".core.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".core.camera.ui.CameraActivity"
            android:screenOrientation="portrait"/>


        <activity
            android:name=".core.location.ui.MapActivity"
            android:screenOrientation="portrait"/>


        <activity
            android:name=".core.location.ui.StreetViewActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".core.detail.ui.DetailActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".repository.web.ui.WebLinkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DialogStyle"/>
    </application>

</manifest>